@model IEnumerable<CrudAspnetCore.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h2>Empresas</h2>
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">
        <a class="btn btn-default" asp-controller="empresas" asp-action="create">Add Empresa</a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Nome Fantasia")
                    </th>
                    <th>
                        @Html.DisplayName("Razão Social")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cnpj)
                        </td>
                        <td>
                            <a asp-action="Detalhe" asp-route-id="@item.Id">Visualizar</a> |
                            <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




